---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import { getEntries } from "astro:content";

import Image from "../../components/common/Image.astro";

// import { useGallery } from "@/hooks/useGallery"
// import { type Masory } from "@/types/gallery"

export async function getStaticPaths() {
  const jobs: any[] = await getCollection("jobs");

  return jobs.map((job) => ({
    params: { id: job.id },
    props: { job: job.data },
  }));
}

const { job } = Astro.props;
const { id, title, date, desc, resources } = job;

const tags = await getEntries(job.tags);

export const prerender = true;
---

<Layout>
  <section class="p-2 columns-1 lg:columns-3 md:columns-2 space-y-4">
    <article class="col-span-1 flex flex-col">
      <date class="self-end">{date}</date>

      <h1 class="mb-2 text-4xl font-bold">{title}</h1>

      <span class="mb-4 flex flex-row gap-2 z-20">
        {
          tags.map((t: any) => (
            <a
              href="#"
              class="px-2 py-1 font-semibold border text-liten bg-darken hover:bg-dark cursor-pointer"
            >
              {t.data.name}
            </a>
          ))
        }
      </span>

      <p>
        {desc}
      </p>
    </article>

    {
      resources.map((r: any, index: number) => {
        return (
          <article class="min-h-10 shadow">
            <Image src={r} alt={`image_${index}`} />
          </article>
        );
      })
    }
  </section>
</Layout>
